/* Carousel */

* {box-sizing:border-box}

.mySlides {
  display: none;
}

.mySlides img {
  width: auto;
  height: 500px;
  max-height: 500px;
}

.carousel--container {
  max-width: 50%;
  position: relative;
  margin: auto;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-center {
  text-align: center;
}

.active {
  background-color: #060707;
}

.dot:hover {
  background-color: #fef8ff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Automatic Carousel */
.autoSlides {
  display: none;
}

.autoSlides img {
  width: auto;
  height: 500px;
  max-height: 500px;
}

.auto-carousel--container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center;
}

/* Success Story Page */
.success--text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 30%;
  width: 100%;
  text-align: center;
  line-height: 25px;
}

.caption--text {
  color: #060707;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.darken {
  filter: brightness(50%);
}

/* Page specific */

.carousel--text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  line-height: 25px;
}

.events__carousel--date {
  text-align: center;
  font-size: 2em;
  color: #3C3C3C
}

.events__carousel--year {
  text-align: center;
  font-size: 1em;
  color: #3C3C3C;
  margin-top: -30px;
}

