/* Carousel */

* {box-sizing:border-box}

/* Carousel container */
.carousel-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.technology-container {
  max-width: 200px;
  position: relative;
  margin: auto;
}

.carousel-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  line-height: 25px;
}

.caption-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.mySlides {
  display: none;
}

.full {
  width: 100%;
}

.darken {
  filter: brightness(50%);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-center {
  text-align: center;
}

.active {
  background-color: #060707;
}

.dot:hover {
  background-color: #fef8ff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}