// Floats
.pull-left{ float: left !important; }
.pull-right{ float: right !important; }

// Clear
.clear-left{ clear: left !important; }
.clear-right{ clear: right !important; }
.clear-both{ clear: both !important; }

// Margins
.margin--less { margin: 0px; }
.margin-left { margin-left: 10px; }
.margin-top { margin-top: 10px;}

// Type Colors
.type--white { color: $white; }
.type--red { color: $red; }
.type--grey { color: $grey; }
.type--grey-dark { color: $grey-dark; }
.type--grey-darker { color: $grey-darker; }
.type--blue { color: $blue; }
.type--yellow { color: $yellow; }
.type--teal { color: $teal; }
.type--blue-dark { color: $blue-dark; }

// Background Colors
.bg--grey-clear { background-color: $grey-clear; }
.bg--red { background-color: $red; }
.bg--grey { background-color: $grey; }
.bg--grey-dark { background-color: $grey-dark; }
.bg--blue { background-color: $blue; }
.bg--yellow { background-color: $yellow; }
.bg--teal { background-color: $teal; }
.bg--blue-dark { background-color: $blue-dark}

// Image
.image--center{
  margin: auto;
  display: block;
}

// Box
.box {
  float: left;
  height: 50px;
  width: 50px;
}

.box__no-float {
  height: 50px;
  width: 50px;
}

.background {
  height: 200px;
  width: 35%;
  float: left;
  margin-bottom: 20px;
}

// Helps Documentation display white typography
.highlight {
  background-color: black;
}

.highlight-off {
  background-color: white;
}