// Floats
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
//Clear
.clear-left{
    clear: left;
}
.clear-right{
    clear: right;
}
.clear-both{
    clear: both;
}
//Type
.type--center{
  text-align: center;
}
//Margins
.margin--less{
  margin: 0px;
}

.margin-left {
  margin: 10px;
}

.img__footer--height {
  margin: 7px;
}
