.img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

// Events Page //

.img__events-list {
  height: 362px;
  width: 468px;
  border: none;
}

.img__events-grid {
  height: 192px;
  width: 192px;
  border: none;
}


// Team Page //

.img__team-profile {
  height: 448px;
  width: 443px;
  border: none;
}


// Side Image //

.img__side--image {
  height: 336px;
  width: 465px;
  border: none;
}
