// MARGIN STYLING
.margin-left { margin-left: 10px; }
.margin-right { margin-right: 10px; }
.margin-top { margin-top: 10px;}

.text-align__center {
  text-align: center;
}

.align__center {
  display: inline-block;
  text-align: center;
}

.no-decoration {
  text-decoration: none;
}
