@import "variables";

.navbar-1 {
  background-color: $grey-light;
  position: relative;
  //top: -50px;
  width: 100%;
  transition: top 0.3s;
}
.navbar-1 a:hover {
  background-color: #ddd;
  color: black;
}

.navbar--list1 {
  line-height: 0em;
  display: inline-block;
  padding: 12px;


}

.navbar--dif{
  color: black;
  font-size: x-large;
}

.navbar--special{
  font-size: x-large;
}
.navbar-3 {
  background-color: $grey-light;
  height: 29em;
}

.navbar--filler{
  position: relative;
  display: block;
  height: 29em;
  width: 70%;
  text-align: center;
  
  margin: auto;
}

.navbar--list3 {
  margin: auto;
  text-align: center;
  font-family: $font;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;

}

.navbar--dif a{
  color: $black;
}

.nav-icon-style {
  position: relative;
  top: 250px;
  left: 50px;
  height: 35px;
}

.fa-times {
  position: relative;
  top: 240px;
  left: 1000px;
  height: 35px;

}

.fa-bars {
  position: relative;
  top: 240px;
  left: 1000px;
  height: 35px;

}