// The html code for the navbar is located in navbar.html.
// Apply it to index.html to test functionality.


#navbar {
  width: 100%;
  z-index: 0;
  position: absolute;
  max-width: 1140px;
  pointer-events: none;

  // These two attributes below can be uncommented, for nav--top to
  // have a decent navbar, but it breaks nav--center functionality.
  // A fix is for navbar.js to detect nav--center,
  // and if it's there will take off background-color
  // and margin.

  //background-color: white;
  //margin-top: 100px;
}

.nav {
  padding: .5rem;
  background-color: white;
}

.nav--cover {
  position: relative;
}

// Corrects Meta+lab logo's size
.nav__brand {
  z-index: 3;
  height: 50px;
  width: 50px;
  margin-left: -70px;
  pointer-events: auto;
}

// Positions hamburger menu
.nav__btn {
  z-index: 3;
  cursor: pointer;
  margin-right: -45px;
  pointer-events: auto;
  margin-top: 3px;
  right: 0;
}

//div.container4 {
//  height: 10em;
//  position: relative
//}

div.container4 p {
  margin: 0;
  background: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.nav__list {
  z-index: 4;
  padding-top: 15px;
  max-height: 100%;
  //position: fixed;
  //margin: auto;
  //top: 0;
  //left: 0;
  bottom: 0;
  right: 0;
  background-color: $white;
  text-align: center;
  list-style: none;
  font-family: $font;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  height: 15em;
  transition: opacity .1s ease-in-out;
  overflow-y: auto;
  // Centering
  vertical-align: middle;
  horiz-align: middle;

  //display: flex;
  //align-items: center;
  //justify-content: center;

  //margin: 0;
  //top: 50%;
  //left: 50%;
  //margin-right: -50%;
  //transform: translate(-50%, -50%);
  //position: absolute;
}

.nav__list li {
  margin: 0;
}

.nav__list a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: opacity .1s ease-in-out;
  // Centers words

  // margin: 0;
  //top: 50%;
  //left: 50%;
  //margin-right: -50%;
  //transform: translate(-50%, -50%);
  //position: absolute;
}

.nav--slider {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 3;
}

.nav__list {

  &:hover {
    z-index: 4;
  }
}

.nav__link {
  font-size: 20px;
  list-style: none;
  z-index: 3;

  &:hover {
    color: $red;
  }

  &.active {
    color: $red;

    &:hover {
      color: $grey ;
    }
  }
}

// Positions left and right icons in the center
.nav--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh !important;
  width: 100%;
  pointer-events: none;
}

// Positions left and right icons on the top
.nav--top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //min-height: 70px;
  top: 0;
  width: inherit;
  pointer-events: none;
  position: fixed;
  height: 100px;
  background-color: white;
}

.btn__close {
  cursor: pointer;
}

.nav__logo{
  height: 30px;
  width: 30px;
}

.margin--right {
  margin-right: 7em;
}