@import "variables";

.navbar {
  //background-color: $grey-light;
  position: absolute;
  //top: -50px;
  width: 100%;
  transition: top 0.3s;

}
.navbar--top{
  background-color: $grey-light;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
  decoration: none;
}

.navbar--list1 {
  display: inline-block;
  line-height: 0em;
  //display: inherit;
  padding: 12px;
}

.navbar__1--documentation {
  display: inherit;
  padding-top: 65px;
}

.navbar--dif {
  color: black;
  font-size: x-large;
}

.navbar--special {
  font-size: x-large;
}

.navbar--filler {
  position: inherit;
  display: block;
  height: 29em;
  width: 70%;
  text-align: center;
  margin: auto;
}

.navbar--list3 {
  margin: auto;
  position: inherit;
  text-align: center;
  font-family: $font;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  height: 10em;
  background-color: $grey-light;
  transition: 0.5s;

}

.navbar--dif a {
  color: $black;
}

.nav-icon-style {
  position: relative;
  top: 250px;
  height: 35px;
  padding-left: 27.39px;
}

.navbar-select {
  margin-right: 0px;
  position: relative;
  top: 240px;
  left: 1030px;
  height: 35px;
}

.fa-bars {
  position: relative;
  height: 35px;
  float: right;
}

.nav-icon-style1 {
  position: relative;
  height: 35px;
  width: 35px;
}

.container--nav {
  display: inline-block;
  text-align: right;
  margin-right: 1000px;
}

.navbar--list3 a {
  text-decoration: none;

}

.navbar--list3 li {
  list-style: none;
}

.nav-icon-style2 {
  position: absolute;
  top: 250px;
  height: 35px;
  padding-left: 43px;
  margin-left: 0px;
  margin: auto;

}
.navbar-icon{
  position: relative;
}
.navbar-2{
  position: relative;
}

.navbar-select2 {
  margin-left: 0px;
  position: absolute;
  top: 240px;
  left: 1113px;
  height: 35px;
}
.navbar--icon {
  position: relative;
}
pre{
  color: red;
}