/*PANELS*/
/***************/

.panel{
  background-color:#0E1821;
  background-size:cover;
  //display: block;
  width:767px;
  height: auto;
  padding:50px;
}

.panel__content{
  width:100%;
  height:auto;
  //position:relative;
}

.panel__img {
  width:767px;
  height:100%;
  //position:relative;
  //top:0;
  //left:0;
  background-image:url('https://goo.gl/t85yuv');
  background-size:cover;
}

.panel--overlay{
  height:inherit;
  width:inherit;
  background-color:rgba(14, 24, 33, 0.60);
  z-index: 1;

}

.panel__footer{
  
  text-align: right;
}

   /*---- small panel------*/
.panel--small{
  width:375.13px;
  height:575.81px;
  background: #0E1821 url('https://goo.gl/J5RZ7t');
  background-size:cover;
}
.panel__title{
  padding-right: 90px;
  padding-top: 250px;
  text-align: right;
}

