.panel{
  background-color:#0E1821;
  background-size:cover;
  //display: block;
  width:767px;
  height: 672px;
}

.panel__content{
  width:609px;
height:auto;
  margin-right: auto;
  margin-left:auto;
  position:relative;
  top:160px;
  line-height: 32px;
}
