// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
// @import "meta-ui";

// BASE
html {
  font-size: $mt-font-size;
}
//End Base

//HEADERS

h1, h2, h3, h4, h5, h6{
  font-family: $mt-font;
  color: $mt-black;
  letter-spacing: $mt-lt-space;
}

h1 {
  font-size: $mt-h1;
  line-height: 91px;
}

h2 {
  font-size:$mt-h2;
  line-height: 77px;
}

h3 {
  font-size: $mt-h3;
  line-height: 65px;
}

h4 {
  font-size: $mt-h4;
  line-height: 51px;
}

h5 {
  font-size: $mt-h5;
  line-height: 38px;
}

h6 {
  font-size: $mt-h6;
  line-height: 26px;
}
// End Headers

// Various Text Sizes
p {
  font-family: $mt-font-base;
  font-weight: normal;
  font-size: $mt-font-size;
  line-height: $mt-font-size;
}

a {
  font-family: $mt-font-base;
  font-weight: normal;
  font-size: $mt-font-size;
  line-height: $mt-font-height;
  text-decoration: none;
  color: $mt-red;
}

p a {
  font-family: $mt-font-base;
  font-weight: normal;
  font-size: $mt-font-size;
  line-height: $mt-font-height;
  color: $mt-red;
}

ul {
  font-family: $mt-font-base;
  font-weight: normal;
  font-size: $mt-font-size;
  line-height: $mt-font-height;
  color: #3C3C3C;
}

ul a {
  font-family: $mt-font-base;
  font-weight: normal;
  font-size: $mt-font-size;
  line-height: $mt-font-height;
  color: $mt-red;
}

.title__bar {
  border: none;
  height: 10px;
  background-color: $mt-tle-red;
  width: $mt-width;
}

.title__bar--thin {
  border: none;
  height: 5px;
  background-color: $mt-tle-red;
  width: $mt-width;
}

.giga {
  font-family: FFDINWebProBold;
  color: $mt-giga-clr;
  font-size: 700px;
  line-height: 902px;
  letter-spacing: $mt-lt-space;
  margin:$mt-z0-space;
  padding:$mt-z0-space;
}

.kilo {
  font-family: FFDINWebProLight;
  color: $mt-black;
  font-size: 170px;
  line-height: 219px;
  letter-spacing: $mt-lt-space;
  margin: $mt-z0-space;
  padding: $mt-z0-space;
}


// End Text Sizes

// END TYPOGRAPHY
