//Primary Colors
$black: #0E1821;
$red: #D00D20;

//Secondary Colors
$grey: #B1B3B2;
$grey-light: #FAFAFA;
$grey-clear:#D6D6D6;
$grey-dark: #3F3F3F;


//Secondary Accent
$white: #FFFFFF;

//Tertiary Colors
$blue: #000063;
$yellow: #F8BC35;
$teal: #76C6B3;
$black-2: #0E1821;


//customer colors
$ul: #3C3C3C;

//font
$font-size: 18px;
$h1: 70px;
$h2: 60px;
$h3: 50px;
$h4: 40px;
$h5: 30px;
$h6: 20px;

//space
$width: 92px;
$font-height: 32px;

//typography
$font-base: 'Open Sans', sans-serif;
$font: FFDINWebProBold;

