//Primary Colors
$mt-black: #0E1821;
$mt-red: #D00D20;

//Secondary Colors
$mt-white: #FAFAFA;
$mt-dark-grey: #3F3F3F;
$mt-light-grey: #B1B3B2;

//Secondary Accent
$mt-sub-white: #FFFFFF;

//Tertiary Colors
$mt-blue: #000063;
$mt-yellow: #F8BC35;
$mt-teal: #76C6B3;
$mt-sub-black: #0E1821;

//giga color
$mt-giga-clr:#D6D6D6;

//customer colors
$mt-tle-red: #BF2027;
$mt-ul: #3C3C3C;

//font
$mt-font-size: 18px;
$mt-h1: 70px;
$mt-h2: 60px;
$mt-h3: 50px;
$mt-h4: 40px;
$mt-h5: 30px;
$mt-h6: 20px;

//space
$mt-width: 92px;
$mt-font-height: 32px;
$mt-lt-space: 0em;
$mt-z0-space: 0px;

//typography
$mt-font-base: 'Open Sans', sans-serif;
$mt-font: FFDINWebProBold;

