//Primary Colors
$black: #0E1821;
$red: #D00D20;

//Secondary Colors
$white: #FAFAFA;
$dark-grey: #3F3F3F;
$light-grey: #B1B3B2;

//Secondary Accent
$sub-white: #FFFFFF;

//Tertiary Colors
$blue: #000063;
$yellow: #F8BC35;
$teal: #76C6B3;
$sub-black: #0E1821;

//giga color
$giga-clr:#D6D6D6;

//customer colors
$tle-red: #BF2027;
$mw-ul: #3C3C3C;

//font
$font-size: 18px;
$h1: 70px;
$h2: 60px;
$h3: 50px;
$h4: 40px;
$h5: 30px;
$h6: 20px;

//space
$width: 92px;
$font-height: 32px;
$lt-space: 0em;
$z0-space: 0px;

//typography
$font-base: 'Open Sans', sans-serif;
$font: FFDINWebProBold;
$font-light: FDINWebProLight;

