.navBar{
  background-color: $white;
  height: 29em;
}
.navbar-list{
  margin: auto;
  text-align: center;
  font-family: $font;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  color: $black;
}

.nav-icon-style {
  position: relative;
  top: 250px;
  left: 50px;
  height: 35px;
}
.fa-bars{
  position: relative;
  top: 240px;
  left: 1000px;
  height: 35px;

}