// Demonstrates clearfix
.clearfix--border {
  padding: .5rem;
  background-color: #5bc0de !important;
}

// Box
.box {
  height: 50px;
  width: 50px;
}

// Helps Documentation display white typography
.highlight {
  background-color: black;
}